#myName {
  font-family: 'Georgia', Times, Times New Roman, serif;
  /* float:left; */
  background-color: #4aaaa5;
  text-align: center;
  color: white;
  padding: 13px;
  font-size: 1.5em;
  font-weight: bold;
}

#aboutMe {
}

#audioButton {
  visibility:hidden;
}

body {
  background-color: #ffffff;
  background-size: auto, cover;
  background-image: url("../images/what-the-hex.png");
}



header {
  border-bottom: 2px inset #cccccc;
  background-color: #ffffff;
}

.header {
  max-width:960px;
  /* margin:auto; */
  /* overflow:auto; */
}

.buttonContainer{
  width:100%;
}

.headerButton {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.25em;
  border: 0 solid white;
  background-color: white;
  color: grey;
  padding: 10px 0 10px 0;
  cursor: pointer;
  /* float: right; */
  text-align: center;
  width:32%;
}

.img-responsive {
  max-height: 200px;
  max-width:240px;
}

.bodyFrame {
  max-width: 960px;
  /* margin:auto; */
  /* overflow:auto; */
  margin-top: 30px;
  border: 0 solid white;
  background-color: #ffffff;
}

#pBorder {
   font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
   border-top: 3px solid lightgrey;
   margin-bottom: 10px;
}

.bodyFrame h3 {
  font-family:'Georgia', Times, Times New Roman, serif;
  color:#4aaaa5;
  font-weight: bold;
  /* margin-bottom: 0; */
  /* margin-top: 1.5rem; */
}

.bodyFrame p {
  text-indent: 1rem;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.bodyFrame form {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.aboutMeImage {
  /* position:relative; */
  /* float:left; */
  /* margin-right: 20px; */
}


input[type="text"] {
  width: 99%;
  height: 35px;
}

textarea[name="message"] {
  height: 220px;
  width: 99%;
}

#submitButton:hover {
  background-color: orange;
}

.portfolioPics {
  float:left;
  margin:auto;
  overflow:auto;
  border: 20px solid white
}

.portfolioPics button {
  height:200px;
  width:200px;
  border-radius:12px;
}

.portfolioPics button div {
  margin-top: 150px;
  color: white;
  background-color: #4aaaa5;
  width: 100%;
}

footer {
  margin-top:175px;
  border-top: 5px solid #4aaaa5;
  background-color: #bfbfbf;
}

/* I need this, can't figure out a way to do it with bootstrap only */

@media screen and (max-width: 460px) {
  #aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
